# Local env files
*.env

# Binary files
node_modules/
venv/

# Artifacts
*.wav
*.txt
*.jsonl

# Terragrunt/Terraform
.terragrunt-cache/
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
backend.tf
